In [119]:
import pandas as pd

In [120]:
df = pd.read_csv('datatesting.csv')

In [121]:
df

,Index,Book Name,Author,Rating,Number of Votes,Score,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,1,"the hunger games (the hunger games, #1)",Suzanne Collins,4.34,9014040,3937075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,harry potter and the order of the phoenix (har...,J.K. Rowling,4.50,3510284,3160284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,pride and prejudice,Jane Austen,4.29,4400084,2784413,9.780141e+12,0140620222,pride and prejudice,NaN,Jane Austen,Courtship,http://books.google.com/books/content?id=xdySu...,First published in 1813.,1994.0,4.25,299.0,1852.0
3,3,pride and prejudice,Jane Austen,4.29,4400084,2784413,9.780141e+12,0141439513,pride and prejudice,NaN,Jane Austen,Fiction,http://books.google.com/books/content?id=obMP1...,"In early nineteenth-century England, a spirite...",2003.0,4.25,480.0,11552.0
4,3,pride and prejudice,Jane Austen,4.29,4400084,2784413,9.780193e+12,0192802380,pride and prejudice,NaN,Jane Austen,Fiction,http://books.google.com/books/content?id=8cp-Z...,"'his perfect indifference, and your pointed di...",2004.0,4.25,333.0,2369.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10042,9996,"ruined (ruined, #1)",Paula Morris,3.84,13876,412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10043,9997,"retribution (dark-hunter, #19)",Sherrilyn Kenyon,4.12,21959,412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10044,9998,the crossing of ingo,Helen Dunmore,4.10,3385,412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10045,9999,have a nice day!: a tale of blood and sweatsocks,Mick Foley,4.29,10118,412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10046,10000,the pleasure of finding things out: the best s...,Richard P. Feynman,4.23,12873,412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
def clean_data(row, mean_values):
    if pd.isna(row['Rating']):
        row['Rating'] = mean_values['Rating']
    if pd.isna(row['Score']):
        row['Score'] = mean_values['Score']
    if pd.isna(row['Number of Votes']):
        row['Number of Votes'] = mean_values['Number of Votes']
        
    if pd.isna(row['description']):
        row['description'] = f"No description available for {row['Book Name']}"
    if pd.isna(row['categories']):
        row['categories'] = f"Unknown categories for {row['Book Name']}"
    if pd.isna(row['published_year']):
        row['published_year'] = f"Unknown published year for {row['Book Name']}"
        
    return row

In [123]:
mean_values = {
    'Rating': df['Rating'].mean(),
    'Score': df['Score'].mean(),
    'Number of Votes': df['Number of Votes'].mean(),
}

In [124]:
df = df.apply(lambda row: clean_data(row, mean_values), axis=1)
df.head()

,Index,Book Name,Author,Rating,Number of Votes,Score,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,1,"the hunger games (the hunger games, #1)",Suzanne Collins,4.34,9014040,3937075,NaN,NaN,NaN,NaN,NaN,Unknown categories for the hunger games (the h...,NaN,No description available for the hunger games ...,Unknown published year for the hunger games (t...,NaN,NaN,NaN
1,2,harry potter and the order of the phoenix (har...,J.K. Rowling,4.50,3510284,3160284,NaN,NaN,NaN,NaN,NaN,Unknown categories for harry potter and the or...,NaN,No description available for harry potter and ...,Unknown published year for harry potter and th...,NaN,NaN,NaN
2,3,pride and prejudice,Jane Austen,4.29,4400084,2784413,9.780141e+12,0140620222,pride and prejudice,NaN,Jane Austen,Courtship,http://books.google.com/books/content?id=xdySu...,First published in 1813.,1994.0,4.25,299.0,1852.0
3,3,pride and prejudice,Jane Austen,4.29,4400084,2784413,9.780141e+12,0141439513,pride and prejudice,NaN,Jane Austen,Fiction,http://books.google.com/books/content?id=obMP1...,"In early nineteenth-century England, a spirite...",2003.0,4.25,480.0,11552.0
4,3,pride and prejudice,Jane Austen,4.29,4400084,2784413,9.780193e+12,0192802380,pride and prejudice,NaN,Jane Austen,Fiction,http://books.google.com/books/content?id=8cp-Z...,"'his perfect indifference, and your pointed di...",2004.0,4.25,333.0,2369.0

In [125]:
df = df.apply(lambda row: clean_data(row, mean_values), axis=1)

In [ ]:
def tex_rep(row):
    tex_rep = f"""Title:{row['Book Name']}
    Authors:{row['Author']}
    Description:{row['description']}
    Categories:{row['categories']}
    Rating:{row['Rating']}
    Scores:{row['Score']}
    """
    return tex_rep

In [173]:

df['tex_rep'] = df.apply(tex_rep, axis=1)

In [174]:
print(df.iloc[:5].apply(tex_rep, axis=1).values[0])

Title:the hunger games (the hunger games, #1)

In [175]:
df['tex_rep'] = df.apply(tex_rep, axis=1)

In [177]:
import faiss
import requests
import numpy as np

index = faiss.IndexFlatL2(4096)

X = np.zeros((len(df['tex_rep']), dim), dtype='float32')

for i, repr in enumerate(df['tex_rep']):
    res = requests.post('http://localhost:11434/api/embed',
                        json = {'model':'llama3','prompt' : repr})
    embeddings = res.json()['embeddings']

    X[i] = np.array(embeddings)

index.add(X)

ValueError: could not broadcast input array from shape (0,) into shape (4096,)

In [ ]:
faiss.write_index(index,'xxx')

In [ ]:
index = faiss.read_index('index')

In [ ]:
df[df.title.str.contains('Friends')]